.text-18{
  font-size: 1.125rem !important;
}

.text-17 {
  font-size: 1.0625rem !important;
}

.text-15 {
  font-size: 0.9375rem !important;
}

.font-weight-semi-bold {
  font-weight: 600 !important;
}
